body {
    color: #575757;
    background-color: #eef;
}

h1 {
    font-size: 32px;
}

.name1 {
    font-size: 24px;
    color: #00FF00;
}

h2,
h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

.music,
.descript,
.skills {
    width: 720px;
    margin: 0 auto;
}

.info {
    padding: 70px;
    margin-left: 10;
    margin-right: 10;
    width: 6em;
    color: navy;
}

.music {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    height: 320px;
}

.music img{
    width: 40%;
    object-fit: cover;
    margin: 0;
}

.music section{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    width: 65%;
}

.music button {
    padding: 8px 16px;
    margin: 0;
    clear: both;
}

.image {
    margin: 0 auto;
}

.skills {
    margin-bottom: 64px;
}

.tags {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    margin: 0;
}

.tags li{
    border-radius: 8px;
    font-size: 13px;
    line-height: 16px;
    padding: 4px 12px;
    margin-right: 8px;
    border: 1px solid #dde;
    list-style: none;
}

.textcols {
    white-space: nowrap;
}

.textcols-item {
    white-space: normal;
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.textcols .textcols-item: first-child{
    margin-right: 15%;
}

.rounded {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 20;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .5em;
    transition: .3s ease-out;
}

.rounded a:hover {background: #E9E4E0;}
.rounded a:hover:before {transform: rotate(360deg);}
.rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
